* {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
body {
background-color: #aeb1b41d !important;    
}
.navbar-nav {
    font-size: 25px;

}
/* стилі для каруселі фото */
.carousel-container {
    display: flex;
    /* використовується flexbox для центрування */
    justify-content: center;
    /* центрування по горизонталі */
    align-items: center;
    /* центрування по вертикалі */
    height: 400px;
    /* висота контейнера - 100% від висоти вікна перегляду */
}

/* Стилі для самого слайдера */
#myCarousel {
    width: 100% !important;
    /* ширина слайдера - 80% від ширини контейнера */
    height: 100% !important;
    /* висота слайдера - 30% від висоти вікна перегляду */


}

/* Стилі для зображень у слайдері */
.carousel-inner img {

    width: 100%;
    /* ширина зображення - 100% від ширини слайдера */
    height: 400px;
    /* висота зображення - 100% від висоти слайдера */
    overflow: hidden;
    object-fit: cover;
    /* забезпечує, щоб зображення покривали слайд, не втрачаючи пропорції */
}

/* кінець стилей каруселі */
/*стилі заголовку*/
.header-container {
    border-bottom: 3px solid rgb(44, 44, 44);
    box-shadow: 0px 0px 5px 0px rgb(239, 180, 180);
    background-color: #343a40;
    /* Синій колір фону */
    color: #fafafa;
    /* Білий колір тексту */
}

.navbar-brand,
.nav-link {
    color: #ffffff !important;
    /* Білий колір тексту для лінків */
}

.nav-link {
    margin-right: 15px;
    /* Відступи між елементами меню */
}

/* Стиль для активного посилання */
.nav-link.active,
.nav-link:hover {
    color: #ffc107 !important;
    /* Колір посилань при наведенні або активному стані */
}

.header-container {
    padding: 0;
}

.navbar-brand {
    width: 20%;
    height: 100%;
}

.logo-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

h5 {
    text-align: center;
}

.container-about-us {
    background-color: #343a40;
    color: white;

}
/* Стилі для контейнера */
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

/* Стилізація форми */
form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Додає padding всередину блоку, замість збільшення його розмірів */
}

textarea {
    resize: vertical; /* Дозволяє змінювати розмір тільки по вертикалі */
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

/* Стилі для відгуку */
#feedbacks {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
  }

  .feedback {
    background-color: #ffffff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }

  .nameList, .emailList, .messageList {
    margin-bottom: 5px;
  }

  .nameList p, .emailList p, .messageList p {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }

  .nameList p {
    font-weight: bold;
    color: #333;
    font-size: 20px;
  }

  .emailList p {
    font-style: italic;
    color: #666;
  }

  .messageList p {
    color: #444;
  }
  .messageList {
    width: 100%;
    height: auto;
    min-height: 100px;
    border: 2px solid gray;
    border-radius: 5px;
  }